---
export interface Props {
	title: string;
	date: string;
	url: string;
	tags: Array<string>;
	thumbnail?: string;
	thumbnailAlt?: string;
}

const { title, date, url, thumbnail, thumbnailAlt } = Astro.props as Props;

import { Image } from "@astrojs/image/components";
---

<article class="post-preview">
	{
		thumbnail && (
			<Image
				class="thumbnail"
				format="webp"
				width={600}
				height={300}
				loading="lazy"
				src={thumbnail}
				alt={thumbnailAlt || "blog post preview"}
			/>
		)
	}
	<footer>
		<a href={url}><h3 class="title">{title}</h3></a>
		<time>{date}</time>
	</footer>
	<a class="link-block" href={url}>{title}</a>
</article>

<style>
	.post-preview {
		background: #1a2746 url("/assets/pwg-logo.svg") no-repeat center;
		background-size: contain;
		height: 200px;
		margin-bottom: 40px;
		position: relative;
		overflow: hidden;
	}

	.post-preview:not(:hover) footer {
		transform: translateY(10%);
	}

	img {
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	footer {
		background: var(--color-navy-light);
		border-radius: 20px 0 0 0;
		padding: 15px;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: transform 0.3s;
		width: 100%;
	}

	.title,
	time {
		margin: 0;
	}

	time {
		align-items: center;
		font-size: 0.8rem;
		font-style: italic;
		color: var(--color-magenta);
		display: flex;
		gap: 15px;
	}

	time:after {
		border-bottom: 1px solid currentColor;
		content: "";
		flex-grow: 1;
	}

	.title {
		font-family: Gilam, sans-serif;
		font-size: 17px;
		color: var(--color-white);
		text-transform: uppercase;
	}

	.link-block {
		color: transparent;
		height: 100%;
		overflow: hidden;
		position: absolute;
		text-indent: -200%;
		width: 100%;
	}
</style>
